{% extends 'base.html' %}

{% block title %}Cookie Care{% endblock %}

{% block content %}

<div class="page-container" style="max-width: 900px; margin: 6rem auto 40px auto; padding: 20px;">
  <h1 class="page-title" style="text-align: center; font-size: 5.2rem; margin-bottom: 20px; font-family: 'Montserrat', sans-serif; color: #333; display: flex; justify-content: center;">Cookie Care</h1>
  <div class="page-text" style="font-size: clamp(1rem, 1vw + 0.5rem, 3.5rem); line-height: 1.6; font-family: 'Montserrat', sans-serif; text-align: justify; display: flex; flex-direction: column; align-items: center; margin-top: 110px;">
      To maintain the freshness and quality of your cookies, we recommend storing them in a cool, dry place away from direct sunlight. 
      Keep them sealed in their original packaging or an airtight container to preserve their flavor and texture. 
      Do not expose cookies to humidity or heat sources, as this may affect their consistency. 
      For longer conservation, you may refrigerate or freeze them, ensuring they are well-protected to avoid moisture absorption. 
      Please note that proper storage is essential to guarantee the best taste experience.
    </p>
  </div>
</div>

{% endblock %}