<nav class="navbar">
  <ul id="menu" class="menu">
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li><a href="{{ url_for('products') }}">Products</a></li>
    <li><a href="{{ url_for('about') }}">About</a></li>
    <li><a href="#" id="cart-btn" class="open-cart">Cart</a></li>
  </ul>
</nav>
<button style="border: none;" class="toggle-menu">☰</button>
<script>
    const toggle = document.querySelector('.toggle-menu');
    const menu = document.querySelector('.menu');

    toggle.addEventListener('click', () => {
        menu.classList.toggle('active');
    });
  </script>